#container {
    display: grid; /* グリッドレイアウト */
    grid-template-rows: 100px 50px;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
        "areaA areaB"
        "areaA areaC";
}

#itemA {
    grid-area: areaA;
    background-color: red;
}
#itemB {
    grid-area: areaB;
    background-color: blue;
}
#itemC {
    grid-area: areaC;
    background-color: yellow;
}